.App {
  text-align: center;
}

.smurf-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.smurf {
  border: 1px solid white;
  width: 250px;
  margin: 1px;
}

body {
  background-color: black;
}

p, h1 {
  color: white;
}